/* ==[ Global ]== */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Merriweather', serif;
}
/* ==[ Header ]== */
header,
.thick-line,
.thin-line {
    background-color: #2d3945;
}
header h1 {
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
}
header h1,
button {
    color: white;
}
/* ==[ Form ]== */
form {
    padding: 0 1rem;
}
.intro {
    margin: 2rem 0;
    text-align: center;
}
.intro h2,
legend,
label,
select {
    color: #2d3945;
}
.intro h2,
legend,
button {
    font-size: 1.2rem;
    font-weight: 700;
}
.intro p,
label,
#copyright {
    font-size: .9rem;
}
.intro p,
#copyright {
    color: gray;
}
.thick-line {
    height: 4px;
    margin-bottom: 3px;
}
.thin-line {
    height: 2px;
}
fieldset {
    border: 0;
    margin: 1.5rem 0;
    padding: 0;
}
legend {
    margin-bottom: 1.5rem;
}
input,
label,
select,
textarea {
    margin-bottom: 1rem;
}
label {
    display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea,
button {  
    border-radius: 5px;
    width: 100%;
    border: 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background: #eff0f1;
    padding: 0 1rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    height: 3rem;
}
input[placeholder="Required"]::placeholder {
    text-align: right;
    font-size: .8rem;
}
input[placeholder="Required"]::placeholder,
#copyright {
    font-style: italic;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: .5rem;
}
input[id="zip"] {
    width: 50%;
}
textarea {
    height: 7rem;
}
button {
    background: #4ebbb5;
    height: 4rem;
    margin: 1rem 0;
}
input,
select,
button,
textarea {
    outline: 0;
    border: #2d3945 0px solid;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
    transition: ease-in .5s;
    border: #2d3945 2px solid;
}
/* ==[ Footer ]== */
footer {
    padding-top: 1rem;
    padding-bottom: 10rem;
    background-color: #4ebbb5;
}
#copyright {
    text-align: center;
}
/* ==[ Media Queries ]== */
@media screen and (min-width:768px) {
    main {
        width: 60%;
        margin: 0 auto;
    }
    .form,
    .input {
        display: flex;
    }
    .form {
        flex-direction: column;
    }
    .form label {
        width: 30%;
        margin-top: 1rem;
    }
    .input input,
    .input select {
        width: 70%;
    }
    input[id="zip"] {
        width: 25%;
    }
    footer {
        padding-bottom: 20rem;
    }
}